.Add-cart-size-img {
  width: 168px;
  height: 168px;
}

.Add-cart-size-img img {
  width: 100%;
}
.Add-cart-custom-text {
  font-size: 14px;
  margin-top: 8px;
  cursor: pointer;  
}
.Add-cart-custom-text span {
  padding: 2px 8px;
  background-color: #ff3030;
  color: white;
}
.Add-cart-custom-color {
  color: #06c1d4;
}
.Add-cart-custom-text-underline {
  text-decoration: line-through;
}
.row.no-gutters.Add-cart-boder {
  padding: 16px;
  border: 1px solid #e3e7ef;
}

.col.l-3.Add-cart-boder {
  border: 1px solid #e3e7ef !important;
  padding: 0 16px 16px 16px;
  background-color: white;
}

.col.l-4.Add-cart-price {
  font-weight: 600;
  font-size: 14px;
}

.row.no-gutters.Add-cart-price-border {
  padding: 14px 2px;
  border-left: none;
  border-top: none;
}

button.Add-cart-btn-order {
  padding: 12px 56px;
  background-color: #06c1d4;
  outline: none;
  border: 1px solid #06c1d4;
  border-radius: 50px;
  color: white;
  font-size: 12px;
  margin: 12px 0;
  cursor: pointer;
  font-weight: 600;
  display: inline-block;
}

.Add-cart-btn-installment {
  padding: 12px 76px;
  background-color: #ffffff;
  outline: none;
  border: 1px solid #e1e2e3;
  border-radius: 50px;
  color: black;
  font-size: 12px;
  font-weight: 600;
  cursor: pointer;
}

.Add-cart-btn-center {
  text-align: center;
}

.btn-center{
  text-align: center;
}
.col.l-6.Add-cart-btn-price-text-custom {
  font-size: 20px;
  color: #d53b2a;
  font-weight: 600;
}

.Cart_container{
  padding-top: 72px;
  margin-bottom: 36px;
}
.img-not-cart-empty img{
  width: 100%;
}
.img-not-cart-empty{
  width: 100%;
  margin: 52px auto 0 auto;
}
.Container-img-not-cart-empty{
  width: 50%;
  margin: 0 auto;
}
.text-not-cart-empty{
  text-align: center;
  margin: 14px 0px;
  font-weight: 600;
  font-size: 18px;
}
button.btnChangequantityCart {
  padding: 7px;
  border: none;
  background-color: #e9e9ef;
  cursor: pointer;
  margin: 0 8px;
  width: 24px;
  text-align: center;
}
.Modal_Cart_overlay{
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  visibility: hidden;
  opacity: 0;
  transition: 0.3s;
  z-index: 101;
}

.Modal_Cart_container{
  text-align: center;
  padding: 20px 8px;
  width: 480px;
  background-color: #ffffff;
 position: fixed;
 top: 50%;
 left: 50%;
 transform: translate(-50%, -50%);
 border-radius: 4px;
 visibility: hidden;
 opacity: 0;
 transition: 0.3s;
 z-index: 102;
}

.isActiveModalcart{
visibility: visible;
 opacity: 1;
}

.icon_Modal_cart {
  font-size: 46px;
  color: blue;
}
.text_Modal_cart {
  font-size: 15px;
  margin: 22px 0;
}
.btn_Modal_cart{
  justify-content: center;
  
}

.btn-item-option{
  padding: 8px 26px;
  font-size: 12px;
  margin: 0 6px;
  cursor: pointer;
  border-radius: 3px;
}

.delete_cart{
  background-color: #ff3030;
  color: white;
  border: 1px solid #ff3030;

}
.no_delaete_cart{
  background-color: #06c1d4;
  color: white;
  border: 1px solid #06c1d4;
}