.action-btn {
    background-color: #06c1d4;
    border: none;
    font-size: 18px;
    text-align: center;
    margin: 10px 0 0 0;
    padding: 8px 12px;
    color: white;
    border-radius: 0.15em;
    cursor: pointer;
    position: relative;
    display: block;
    border-radius: 50px;
  }
  
  .action-btn:hover {
   opacity: 0.8;
  }
  
  
  
  .action-btn::after {
    content: '';
    display: block;
    width: 1.2em;
    height: 1.2em;
    position: absolute;
    left: calc(50% - 0.75em);
    top: calc(50% - 0.75em);
    border: 0.15em solid transparent;
    border-right-color: white;
    border-radius: 50%;
    animation: button-anim 0.7s linear infinite;
    opacity: 0;
  }
  
  @keyframes button-anim {
    from {
      transform: rotate(0);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  .action-btn.loading {
    color: transparent;
  }
  
  .action-btn.loading::after {
    opacity: 1;
  }
  
  /* em values are used to adjust button values such as padding, radius etc. based on font-size */