/* BASIC Style */
.skeleton{
    background: rgb(228, 227, 227);
    margin: 8px 0;
    border-radius:  4px;
}

.skeleton.text{
    width: 100%;
    height: 12px;
}
.skeleton.text-8{
    width: 100%;
    height: 6px;
}

.skeleton.text-50{
    width: 50%;
    height: 12px;
}

.skeleton.text-70{
    width: 70%;
    height: 12px;
}

.skeleton.img-thumbnail{
    width: 100%;
    height: 140px;
}

.skeleton.img-thumbnail_2{
    width: 100%;
    height: 150px;
    background: rgb(240, 237, 237);

}

.skeleton.img-full{
    width: 100%;
    height: 300px;
}

.skeleton.title{
    width: 100%;
    height: 30px;
    margin-bottom: 15px;
}

.skeleton.avatar{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.skeleton.thumbnail-30{
    width: 30px;
    height: 30px;
}

.skeleton.thumbnail-50{
    width: 50px;
    height: 50px;
}

.skeleton.thumbnail-100{
    width: 100px;
    height: 100px;
}

.skeleton.thumbnail-200{
    width: 200px;
    height: 200px;
}

.animation-shimmer{
    position: relative;
    overflow: hidden;
}

/*  animation effects */
.shimmer-wrapper{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    animation: loading 2.5s infinite;
    overflow: hidden;
}
.shimmer{
    width: 50%;
    height: 100%;
    background-color: rgba(255,255,255,0.2);
    /* transform: skewX(-20deg); */
    box-shadow: 0 0 30px 30px rgba(255,255,255,0.05);
}

@keyframes loading {
    0% { transform:  translateX(-150%)}
    50% { transform:  translateX(-60%)}
    100% { transform:  translateX(150%)}
}