.News_item{
    padding: 0 0 10px 0;
    background-color: white;
    cursor: pointer;
    margin-top: 20px;
}
.News_item:hover{
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.News_item img {
    width: 100%;
}

.News_item_title {
    font-size: 18px;
    margin: 10px 10px 0 10px;
}
.News_item_time {
    color: #6a6a69;
    margin: 10px 10px 0 10px;
}
.News_container{
    background-color: #F5F5F5;
    padding: 20px 0;
}