* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.grid {
  width: 100%;
  display: block;
  padding: 0;
}

.grid.wide {
  max-width: 1200px;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -4px;
  margin-right: -4px;
}

.row.no-gutters {
  margin-left: 0;
  margin-right: 0;
}

.col {
  padding-left: 4px;
  padding-right: 4px;
}

.row.no-gutters .col {
  padding-left: 0;
  padding-right: 0;
}

.c-0 {
  display: none;
}

.c-1 {
  flex: 0 0 8.33333%;
  max-width: 8.33333%;
}

.c-1-09 {
  flex: 0 0 9.0909%;
  max-width: 9.0909%;
}

.c-1-2 {
  flex: 0 0 10%;
  max-width: 10%;
}

/* 9 cot */
.c-1-33 {
  flex: 0 0 11.11111%;
  max-width: 11.11111%;
}

.c-1-5 {
  flex: 0 0 12.5%;
  max-width: 12.5%;
}

.c-1-71 {
  flex: 0 0 14.28571%;
  max-width: 14.28571%;
}

.c-2 {
  flex: 0 0 16.66667%;
  max-width: 16.66667%;
}

.c-2-4 {
  flex: 0 0 20%;
  max-width: 20%;
}

.c-3 {
  flex: 0 0 25%;
  max-width: 25%;
}

.c-4 {
  flex: 0 0 33.33333%;
  max-width: 33.33333%;
}

.c-5 {
  flex: 0 0 41.66667%;
  max-width: 41.66667%;
}

.c-6 {
  flex: 0 0 50%;
  max-width: 50%;
}

.c-7 {
  flex: 0 0 58.33333%;
  max-width: 58.33333%;
}

.c-8 {
  flex: 0 0 66.66667%;
  max-width: 66.66667%;
}

.c-9 {
  flex: 0 0 75%;
  max-width: 75%;
}

.c-10 {
  flex: 0 0 83.33333%;
  max-width: 83.33333%;
}

.c-11 {
  flex: 0 0 91.66667%;
  max-width: 91.66667%;
}

.c-12 {
  flex: 0 0 100%;
  max-width: 100%;
}

.c-o-1 {
  margin-left: 8.33333%;
}

.c-o-1-09 {
  margin-left: 9.0909%;
}

.c-o-1-2 {
  margin-left: 10%;
}

.c-o-1-33 {
  margin-left: 11.11111%;
}

.c-o-1-5 {
  margin-left: 12.5%;
}

.c-o-1-71 {
  margin-left: 14.28571%;
}

.c-o-2 {
  margin-left: 16.66667%;
}

.c-o-2-4 {
  margin-left: 20%;
}

.c-o-3 {
  margin-left: 25%;
}

.c-o-4 {
  margin-left: 33.33333%;
}

.c-o-5 {
  margin-left: 41.66667%;
}

.c-o-6 {
  margin-left: 50%;
}

.c-o-7 {
  margin-left: 58.33333%;
}

.c-o-8 {
  margin-left: 66.66667%;
}

.c-o-9 {
  margin-left: 75%;
}

.c-o-10 {
  margin-left: 83.33333%;
}

.c-o-11 {
  margin-left: 91.66667%;
}

/* >= Tablet */
@media (min-width: 740px) {
  .row {
    margin-left: -8px;
    margin-right: -8px;
  }

  .col {
    padding-left: 8px;
    padding-right: 8px;
  }

  .m-0 {
    display: none;
  }

  .m-1,
  .m-1-09,
  .m-1-2,
  .m-1-33,
  .m-1-5,
  .m-1-71,
  .m-2,
  .m-2-4,
  .m-3,
  .m-4,
  .m-5,
  .m-6,
  .m-7,
  .m-8,
  .m-9,
  .m-10,
  .m-11,
  .m-12 {
    display: block;
  }

  .m-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }

  .m-1-09 {
    flex: 0 0 9.0909%;
    max-width: 9.0909%;
  }

  .m-1-2 {
    flex: 0 0 10%;
    max-width: 10%;
  }

  /* 9 cot */
  .m-1-33 {
    flex: 0 0 11.11111%;
    max-width: 11.11111%;
  }

  .m-1-5 {
    flex: 0 0 12.5%;
    max-width: 12.5%;
  }

  .m-1-71 {
    flex: 0 0 14.28571%;
    max-width: 14.28571%;
  }

  .m-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }

  .m-2-4 {
    flex: 0 0 20%;
    max-width: 20%;
  }

  .m-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }

  .m-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }

  .m-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }

  .m-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .m-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }

  .m-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }

  .m-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }

  .m-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }

  .m-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }

  .m-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .m-o-1 {
    margin-left: 8.33333%;
  }

  .m-o-1-09 {
    margin-left: 9.0909%;
  }

  .m-o-1-2 {
    margin-left: 10%;
  }

  .m-o-1-33 {
    margin-left: 11.11111%;
  }

  .m-o-1-5 {
    margin-left: 12.5%;
  }

  .m-o-1-71 {
    margin-left: 14.28571%;
  }

  .m-o-2 {
    margin-left: 16.66667%;
  }

  .m-o-2-4 {
    margin-left: 20%;
  }

  .m-o-3 {
    margin-left: 25%;
  }

  .m-o-4 {
    margin-left: 33.33333%;
  }

  .m-o-5 {
    margin-left: 41.66667%;
  }

  .m-o-6 {
    margin-left: 50%;
  }

  .m-o-7 {
    margin-left: 58.33333%;
  }

  .m-o-8 {
    margin-left: 66.66667%;
  }

  .m-o-9 {
    margin-left: 75%;
  }

  .m-o-10 {
    margin-left: 83.33333%;
  }

  .m-o-11 {
    margin-left: 91.66667%;
  }
}

/* PC medium resolution > */
@media (min-width: 1113px) {
  .row {
    margin-left: -12px;
    margin-right: -12px;
  }

  .row.sm-gutter {
    margin-left: -5px;
    margin-right: -5px;
  }

  .col {
    padding-left: 12px;
    padding-right: 12px;
  }

  .row.sm-gutter .col {
    padding-left: 5px;
    padding-right: 5px;
  }

  .l-0 {
    display: none;
  }

  .l-1,
  .l-1-09,
  .l-1-2,
  .l-1-33,
  .l-1-5,
  .l-1-71,
  .l-2,
  .l-2-4,
  .l-3,
  .l-4,
  .l-5,
  .l-6,
  .l-7,
  .l-8,
  .l-9,
  .l-10,
  .l-11,
  .l-12 {
    display: block;
  }

  .l-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }

  .l-1-09 {
    flex: 0 0 9.0909%;
    max-width: 9.0909%;
  }

  .l-1-2 {
    flex: 0 0 10%;
    max-width: 10%;
  }

  /* 9 cot */
  .l-1-33 {
    flex: 0 0 11.11111%;
    max-width: 11.11111%;
  }

  .l-1-5 {
    flex: 0 0 12.5%;
    max-width: 12.5%;
  }

  .l-1-71 {
    flex: 0 0 14.28571%;
    max-width: 14.28571%;
  }

  .l-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }

  .l-2-4 {
    flex: 0 0 20%;
    max-width: 20%;
  }

  .l-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }

  .l-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }

  .l-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }

  .l-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .l-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }

  .l-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }

  .l-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }

  .l-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }

  .l-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }

  .l-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .l-o-1 {
    margin-left: 8.33333%;
  }

  .l-o-1-09 {
    margin-left: 9.0909%;
  }

  .l-o-1-2 {
    margin-left: 10%;
  }

  .l-o-1-33 {
    margin-left: 11.11111%;
  }

  .l-o-1-5 {
    margin-left: 12.5%;
  }

  .l-o-1-71 {
    margin-left: 14.28571%;
  }

  .l-o-2 {
    margin-left: 16.66667%;
  }

  .l-o-2-4 {
    margin-left: 20%;
  }

  .l-o-3 {
    margin-left: 25%;
  }

  .l-o-4 {
    margin-left: 33.33333%;
  }

  .l-o-5 {
    margin-left: 41.66667%;
  }

  .l-o-6 {
    margin-left: 50%;
  }

  .l-o-7 {
    margin-left: 58.33333%;
  }

  .l-o-8 {
    margin-left: 66.66667%;
  }

  .l-o-9 {
    margin-left: 75%;
  }

  .l-o-10 {
    margin-left: 83.33333%;
  }

  .l-o-11 {
    margin-left: 91.66667%;
  }
}

/* Tablet - PC low resolution */
@media (min-width: 740px) and (max-width: 1023px) {
  .wide {
    width: 644px;
  }
}

/* > PC low resolution */
@media (min-width: 1024px) and (max-width: 1239px) {
  .wide {
    width: 984px;
  }

  .wide .row {
    margin-left: -12px;
    margin-right: -12px;
  }

  .wide .row.sm-gutter {
    margin-left: -5px;
    margin-right: -5px;
  }

  .wide .col {
    padding-left: 12px;
    padding-right: 12px;
  }

  .wide .row.sm-gutter .col {
    padding-left: 5px;
    padding-right: 5px;
  }

  .wide .l-0 {
    display: none;
  }

  .wide .l-1,
  .wide .l-2,
  .wide .l-2-4,
  .wide .l-3,
  .wide .l-4,
  .wide .l-5,
  .wide .l-6,
  .wide .l-7,
  .wide .l-8,
  .wide .l-9,
  .wide .l-10,
  .wide .l-11,
  .wide .l-12 {
    display: block;
  }

  .wide .l-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }

  .wide .l-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }

  .wide .l-2-4 {
    flex: 0 0 20%;
    max-width: 20%;
  }

  .wide .l-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }

  .wide .l-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }

  .wide .l-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }

  .wide .l-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .wide .l-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }

  .wide .l-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }

  .wide .l-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }

  .wide .l-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }

  .wide .l-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }

  .wide .l-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .wide .l-o-1 {
    margin-left: 8.33333%;
  }

  .wide .l-o-2 {
    margin-left: 16.66667%;
  }

  .wide .l-o-3 {
    margin-left: 25%;
  }

  .wide .l-o-4 {
    margin-left: 33.33333%;
  }

  .wide .l-o-5 {
    margin-left: 41.66667%;
  }

  .wide .l-o-6 {
    margin-left: 50%;
  }

  .wide .l-o-7 {
    margin-left: 58.33333%;
  }

  .wide .l-o-8 {
    margin-left: 66.66667%;
  }

  .wide .l-o-9 {
    margin-left: 75%;
  }

  .wide .l-o-10 {
    margin-left: 83.33333%;
  }

  .wide .l-o-11 {
    margin-left: 91.66667%;
  }
}


/*Ipad ngang(1024 x 768)*/
@media screen and (max-width: 1024px){
  .add-view-all{
    width: 20% !important;
  }
  .Detail-padding-content{
    width: 100% !important; 
  }
  .action-btn{
    width: 100%;
  }
  .icon-header-option {
    display: none !important;
}
.icon-header-option-mobile-search,
.icon-header-option-mobile{
  margin: 0 !important;
  display: block !important;
}
.Search-for-mobile {
  display: block !important;
}
.row.space-icon-header {
  justify-content: end !important;}

  .mobile-search-active {
    width: 260px !important;
}
.List-search-mobile {
right: 0 !important;
}
.img-not-found-product {
  width: 100% !important;
}

.fixed-height-swiper img {
  object-fit: cover !important;
}
}
/*Ipad dọc(768 x 1024)*/
@media screen and (max-width: 768px){
 
  .icon-header-option,
  .space-icon-header{
    margin: 0 !important;
  }
  .space-icon-header{
    padding: 10px 0 0 0 !important;
  }
  .Header-search-container,
  .position-left-option{
    display: none;
  }
  .Detail-container,
  .Content-container{
    padding: 0 16px !important;
  }
  .Content-2-container-product-info-detail-laptop,
  .Content-2-container-product-info-detail{
    display: none !important;
  }
  .fixed-height-swiper .swiper-container.swiper-container-initialized.swiper-container-horizontal.mySwiper2 {
    height: 144px !important;
}
.khoanggia,
.logo-thuonghieu-text {
  line-height: 16px !important;
  font-size: 14px !important;
}
.khoanggia-option{
  font-size: 9px !important;
  line-height: 16px !important;
}
.Content-left-text {
  font-size: 12px !important;
  line-height: 14px !important;
}
.Comment-cient-write,
.add-view-all{
  width: 40% !important;
}
.Size-img-detail{
  width: 100% !important; 
  height: 100% !important;
}
.Detail-padding-content{
  width: 100% !important; 
}
.Detail-sticky-hotline-number{
  font-size: 16px !important;
}
.fix-height {
  margin: 60px 0 0 0 !important;
}

.Footer{
  padding: 24px 16px 16px 16px !important;
}
.Detail-container{
  margin-top: 72px !important;
}
.Content-container{
  margin-top: 16px !important;
}
.fixed-height-swiper .swiper-slide.swiper-slide-thumb-active::after,
.fixed-height-swiper .swiper-slide.swiper-slide-next.swiper-slide-thumb-active::after,
.fixed-height-swiper .swiper-slide.swiper-slide-active.swiper-slide-thumb-active::after{
  left: -7% !important;
}
.col.l-12.c-12.m-12.Content-2-container-product-col-12{
  font-size: 12px !important;
}
.col.l-12.c-12.m-12.Content-2-container-product-col-12 .Content-2-container-product-item-price,
.col.l-12.c-12.m-12.Content-2-container-product-col-12 .Content-2-container-product-item-name{
  font-size: 14px !important;
}

.position-right-option-icon,
.action-btn span{
  font-size: 14px !important;
}
.action-btn{
  width: 100%;
}
.Content-right-item{
  height: 60px !important;
}
.PageAllLap-Filter-Container-mobile {
  display: block!important;
}
.PageAllLap-Filter-Container, .PageAllLap-justify-content {
  display: none;
}
.sort-filter-mobile {
  margin-left: 100px !important;
}
.icon-header-option-add-cart:hover .Cart-hover-list {
  display: none;
}
.Header-mobile-navbar{
  width: 360px !important;
}
.Add-cart-size-img {
  width: 100% !important;
}
}


/*Tablet nhỏ(480 x 640)*/
@media screen and (max-width: 480px){
  .Footer{
    font-size: 12px!important;
  }
  .action-btn span,
  .Footer-text-div{
    font-size: 13px !important;
  }
  .Detail-sticky-add-compare span{
    font-size: 13px!important;
    padding: 10px !important;
  }
  .Content-left-text{
    padding:4px 0 0 0 !important;
  }
  .Content-2-container-product-item:hover {
    box-shadow: none !important;
    cursor: none !important;
    transition: none !important;
  }
  .Option-checkbox-container{
    height: 100% !important;
  }
  .Content-2-container-product-item-price {
    font-size: 16px !important;
  }
  .Detail-sticky-add-compare{
    padding: 7px !important;
  }
  .Header-down{
    position: fixed;
    top: 0 !important;
    right: 0 !important;;
    left: 0 !important;;
  }
  .Detail-container,
  .Content-container{
    margin-top: 72px !important;
  }
  .icon-header-option-add-cart:hover .Cart-hover-list {
    display: none;
}
.Content-2-container-reduce-price h1{
  padding: 0 0 0 10px;
}
.action-btn{
  width: 100%;
}

.Add-cart-size-img {
  width: 100% !important;
}
.Add-cart-custom-text{
  font-size: 12px;
}
.row.no-gutters.Add-cart-boder{
  font-size: 12px;
  padding: 6px 16px;
}
.action-btn:hover {
  opacity: 1 !important;
}
.Number_product_cart {
  width: 35% !important;
  height: 35% !important;
  right: 3px !important;
  top: 3px !important;
  font-size: 8px !important;
  line-height: 17px !important;
}
.Modal_Cart_container{
  width: 90% !important;
}
.swiper-container-free-mode > .swiper-wrapper{
  display: none !important;
}
.Content-right-item a{
  font-size: 15px;
}
.icon-header-option{
  display: none !important;
}
.row.space-icon-header{
  justify-content: end !important;
}

.icon-header-option-add-cart{
  margin: 0 !important;
}
.icon-header-option-mobile-search,
.icon-header-option-mobile{
  margin: 0 !important;
  display: block !important;
}
.Content-2-container-reduce-price{
  font-size: 12px;
}
.PageAllLap-Filter-Container,
.PageAllLap-justify-content{
  display: none;
}
.PageAllLap-Filter-Container-mobile{
  display: block!important;
}
.Content-2-container-product-item {
  height: 420px !important;
}
.size-img-thumbnail-swiper{
  width: 84px !important;
}
.Content-right-item {
  height: 65px !important; 
}
.Content-right-item-boder{
  padding: 10px 10px 0 18px !important;
}
.img-not-found-product{
  width: 100% !important;
}
.Search-for-mobile{
  display: block !important;
}
.Container-img-not-cart-empty{
  width: 70% !important;
}
.Detail-sticky-price{
  font-size: 18px !important;
}
.fix-height {
  margin: 0 !important;
}
.Header-mobile-navbar {
  width: 260px !important;
}
.sort-filter-mobile {
  margin-left: 50px !important;
}
.mobile-search-active {
  width: 148px !important;
}
.List-search-mobile {
  right: -12%!important;
}
}
/*Iphone(480 x 640)*/
@media screen and (max-width: 320px){
    
}
/*Smart phone nhỏ*/
@media screen and (max-width: 240px){
    
}